@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*::after {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

.header {
  background: url(../img/background.jpg) center/cover no-repeat;
  padding-top: 26px;
  min-height: 540px;
}

.menu {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}

.menu_link {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  text-transform: capitalize;
  padding: 8px 13px;
  border: 2px solid transparent;
  border-radius: 30px;
  transition: all 300ms ease;
}

.menu_link:hover {
  border: 2px solid #fff;
  cursor: pointer;
}

.logo {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  display: block;
  text-align: center;
  margin-bottom: 38px;
}
.header_title {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 19px;
}

.header_subtitle {
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  width: 220px;
  margin: 0 auto 19px;
}

.btn {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  display: block;
  width: 280px;
  text-align: center;
  background-color: #ff4e50;
  margin: 0 auto;
  border: 2px solid transparent;
  border-radius: 30px;
  line-height: 40px;
  transition: all 300ms ease;
}

.btn:hover {
  background-color: transparent;
  border: 2px solid #fff;
}
.partner {
  padding-top: 69px;
  padding-bottom: 57px;
}
.partner_title {
  color: #333333;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
}

.card {
  position: relative;
  width: 230px;
  margin: 0 auto;
  margin-bottom: 29px;
}
.card_img {
  margin-bottom: 21px;
  border-radius: 50%;
}

.card::after {
  position: absolute;
  display: block;
  content: " ";
  top: 88px;
  left: 134px;
  width: 37px;
  height: 37px;
  border: 4px solid rgb(250, 250, 250);
  border-radius: 50%;
}

.tele::after {
  background: url(../img/tele.png) no-repeat center #ff4e50;
}

.coffe::after {
  background: url(../img/coffe.png) no-repeat center #1cd7ad;
}
.colb::after {
  background: url(../img/colb.png) no-repeat center #ffa507;
}
.telegram::after {
  background: url(../img/telegram.png) no-repeat center #4e73db;
}

.card_title {
  color: #333333;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 16px;
}

.card_text {
  color: #666666;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;
}

.w-100 {
  width: 100%;
}

.partner_btn {
  color: #ff4e50;

  background-color: transparent;

  border: 2px solid #ff4e50;
}

.partner_btn:hover {
  color: #fff;

  background-color: #ff4e50;

  border: 2px solid #ff4e50;
}

@media screen and (min-width: 768px) {
  .header {
    background: url(../img/background.jpg) center/cover no-repeat;
    padding-top: 46px;
    min-height: 700px;
  }

  .logo {
    line-height: 34px;
    margin-bottom: 0;
  }

  .header_title {
    font-size: 52px;
    margin: 160px auto 40px;
    width: 510px;
  }

  .header_subtitle {
    font-size: 24px;
    min-width: 510px;
    margin: 0 auto 34px;
  }

  .menu {
    margin: 0;
  }

  .partner {
    padding-bottom: 40px;
  }

  .partner_title {
    margin-bottom: 32px;
  }

  .card {
    margin-bottom: 57px;
  }

  .card:nth-last-of-type(-n + 3) {
    margin-bottom: 39px;
  }
}

@media screen and (min-width: 992px) {
  .partner {
    padding-bottom: 74px;
  }
  .card {
    margin-bottom: 39px;
  }
}
