.offer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  &__subtitle {
    font-size: 72px;
    margin-bottom: 35px;
    color: $primary-white-color;
  }

  &__title {
    width: 850px;
    line-height: 140px;
    text-align: center;
    font-weight: 700;
    color: $primary-white-color;
    margin: 0 0 110px;
  }

  &__btn {
    line-height: 34px;
    width: 160px;
  }
}
