.team-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 380px;
  text-align: center;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;

  &:hover {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }

  &:hover .team-sub {
    opacity: 1;
  }

  &__name {
    font-weight: 400;
    margin-bottom: 10px;
  }

  &__position {
    font-weight: 300;
    font-style: italic;
  }
}
