/* font-family: 'Kaushan Script', cursive; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */
@import "./specification.css";
@import "./navigation.css";
@import "./offer.css";
@import "./menu.css";
@import "./services.css";
@import "./team.css";
@import "./footer.css"; /* ------ HEADER ------ */
.header {
  background: url(../img/eagle-min.jpg) no-repeat center top / cover;
  padding: 28px 0 230px;
  color: #fff;
}

.header__navigation {
  margin-bottom: 160px;
}

/* ------ SERVICES ------ */

.services {
  padding: 46px 0 50px;
}

/* ------ TEAM ------ */
.team {
  padding: 40px 0 80px;
}

.team .container {
  position: relative;
}

.team .container::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #e5e5e5;
  position: absolute;
  bottom: -80px;
}

/* ------ FOOTER ------ */
.footer {
  padding: 10px 0;
}
