.offer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.offer__subtitle {
  font-size: 72px;
  margin-bottom: 35px;
  color: #ffffff;
}

.offer__title {
  width: 850px;
  line-height: 140px;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 110px;
}

.offer__btn {
  line-height: 34px;
  width: 160px;
}
