@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Roboto");

body {
  font-size: 0;
  /* background: rgb(161, 161, 158); */
}

.wrapper {
  width: 960px;
  /* background: rgb(153, 153, 139); */
  margin: auto;
  padding-top: 30px;
  padding-bottom: 50px;
}
.menu {
  width: 580px;
  margin: auto;
  border: none;
}

.menu-item {
  width: 100px;
  height: 40px;
  /* background: green; */
  display: inline-block;
  line-height: 40px;
  font-size: 14px;
  margin: 0 60px 0 0;
  text-align: center;
}

.menu-item-last {
  margin-right: 0px;
}
.menu-link {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.menu-link:hover {
  color: #03a9f3;
}

article {
  width: 420px;
  /* height: 370px; */
  display: inline-block;
  font-size: 12px;
  /* background: rgb(68, 214, 10); */
  margin: 0 30px 135px;
  font-family: "Playfair Display", serif;
}

.subtitle {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 30px;
}

img {
  margin-bottom: 30px;
}
h2 {
  margin-bottom: 30px;
  font-size: 30px;
}
p {
  font-size: 14px;
  line-height: 2em;
}

.btn-footer {
}

.button {
  width: 160px;
  height: 60px;
  display: block;
  line-height: 60px;
  font-size: 16px;
  /* border-width: 2px; */
  color: black;
  text-decoration: none;
  text-align: center;
  border: 1px solid black;
  margin: 0 auto;
  margin-bottom: 50px;
}

.button:hover {
    background: rgba(56, 52, 52, 0.233);
}