.btn {
  font-family: $second-font;
  font-size: 14px;
  color: $primary-white-color;
  border: 3px solid $primary-white-color;
  text-align: center;
  display: block;
  font-weight: 700;
  text-transform: uppercase;

  &:hover {
    background: $second-dark-color;
    color: $second-white-color;
  }

  &:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
