$main-font-stack: "Roboto", sans-serif;
$second-font: "Montserrat", sans-serif;
$subtitle-font: "Kaushan Script", cursive;
$primary-white-color: #ffffff;
$primary-dark-color: #333333;
$second-dark-color: #f38181;
$second-white-color: #fce38a;
$text-color: #999999;
$accent-color: #95e1d3;
$form-color: #e5e5e5;
