@import url("https://fonts.googleapis.com/css?family=Roboto");

@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.wrapper {
  width: 1140px;
  margin: auto;
  padding: 0 15px;
  box-sizing: border-box;
  /* background: rgba(0, 0, 0, 0.2); */
}

.logo {
  font-family: "Roboto Light", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  float: left;
  color: black;
}

.logo::first-letter {
  font-family: "Roboto Black", sans-serif;
  color: #1abc9c;

}

.menu {
  min-width: 490px;
  float: right;
}
.menu_item {
  display: block;
  height: 30px;
  float: left;
  line-height: 30px;
}

.menu_link {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0 15px;
  text-decoration: none;
  color: black;
  display: block;
  font-weight: bold;
}

.menu_link:hover {
  color: #1abc9c;
}

.header {
  padding-top: 37px;
  /* background: rgba(0, 0, 0, 0.2); */
}

.title {
  font-family: "Roboto Black", sans-serif;
  font-size: 48px;
  text-align: center;
  color: #555252;
  font-weight: bold;
}

.title::after {
  content: "";
  display: block;
  width: 160px;
  margin: 0 auto;
  border-bottom: 8px solid #1abc9c;
  margin-top: 32px;
  margin-bottom: 77px;
}
.gallery {
  padding-top: 110px;
}

.products {
  
  font-size: 0;
  display: block;
}
.products_li {
  width: 255px;
  display: block;
  float: left;
  /* padding: 15px; */
  position: relative;
  margin-right: 30px;
  margin-bottom: 30px;
}

.products_li:nth-of-type(4n) {
  margin-right: 0;
}
.products_li:nth-of-type(n+5) {
  margin-bottom: 0;
}
/* 
.products_image {
  margin-bottom: -40px;
  float: none;
} */
.products_li_div {
  background-image: linear-gradient(
    to right,
    #323232,
    #323232 80%,
    #8c8c8c 80%,
    #8c8c8c
  );
  position: absolute;
  top: 282px;
  width: 255px;
  font-family: "Roboto Black", sans-serif;
  font-size: 18px;
  line-height: 40px;
  color: white;

 }
.products_li_p {
  /* font-family: "Roboto Black", sans-serif;
  font-size: 18px;
  line-height: 40px;
  color: white; */
  /* background-image: linear-gradient(
    to right,
    #323232,
    #323232 80%,
    #8c8c8c 80%,
    #8c8c8c
  ); */
  text-transform: uppercase;
  padding: 0 15px;
  display: inline-block;
  /* position: absolute;
  top: 282px; */
  /* width: 255px;
  box-sizing: border-box; */
  
}



.products_li:hover .products_li_div {
  background-image: linear-gradient(
    to right,
    #1abc9c,
    #1abc9c 80%,
    #7fd9c7 80%,
    #7fd9c7
  );
  cursor: pointer;
}
.price {
  float: right;
}
.news {
  padding-top: 90px;
  padding-bottom: 80px;
}
.news_ul {
  /* padding-top: 65px; */
}
.news_li {
  width: 350px;
  /* padding: 15px; */
  font-family: "Open Sans Light", sans-serif;
  float: left;
  margin-right: 30px;
}

.news_li:nth-child(3n) {
  margin: 0;
}


.news_text {
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 10px;
}
.news_li_title {
  font-family: "Open Sans Semibold", sans-serif;
  font-size: 18px;
  line-height: 25px;
}
.news_li_title::after {
  content: "";
  display: block;
  width: 136px;
  margin: 14px 0 30px;
  border-bottom: 3px solid #1abc9c;
  /* margin-top: 32px; */
}
.news_img {
  margin-bottom: 15px;
}
.news_button {
  text-decoration: none;
  font-size: 16px;
  line-height: 60px;
  background: #1abc9c;
  padding: 15px 40px;
  color: azure;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
}

.news_button:hover {
  background: #7fd9c7;
}

.title_news {
margin-bottom: 80px;
}
